* {
  margin: 0;
  padding: 0;
}
body {
  font: 16px/1.4 "myriad-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #333;
}
html,
body {
  height: 100%;
}
header {
  margin: 0 0 10px 0;
  padding: 0;
  position: relative;
  font-weight: 300;
  color: #222;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f9f9f9), color-stop(1, #f3f3f3));
  background-image: -webkit-linear-gradient(top, #f9f9f9 0%, #f3f3f3 100%);
  background-image: -moz-linear-gradient(top, #f9f9f9 0%, #f3f3f3 100%);
  background-image: -o-linear-gradient(top, #f9f9f9 0%, #f3f3f3 100%);
  background-image: -ms-linear-gradient(top, #f9f9f9 0%, #f3f3f3 100%);
  background-image: linear-gradient(top, #f9f9f9 0%, #f3f3f3 100%);
  border-bottom: 1px solid #e5e5e5;
  height: 40px;
  line-height: 40px;
}
header a {
  color: #333;
  text-decoration: none;
  display: inline-block;
}
header a.logo {
  float: left;
  font-size: 26px;
  color: #111;
  z-index: 9;
  font-family: ff-enzo-web;
  font-weight: 600;
}
header a.logo.problem {
  text-shadow: #f00 0 0 5px;
}
header a.logo:hover {
  color: #08c;
  text-decoration: none;
}
header a.logo > span {
  font-size: 16px;
}
header .divider-vertical {
  float: left;
  width: 1px;
  height: 40px;
  margin: 0 10px;
  background-color: #e5e5e5;
  border-right: 1px solid #fff;
}
header #menu {
  float: right;
  margin-top: 2px;
  list-style-type: none;
}
header #menu li {
  display: inline-block;
  margin-left: 2px;
  line-height: 40px;
}

#container, .container {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
}
#content {
  margin-top: 20px;
  float: left;
  width: 600px;
}
#sidebar {
    float: right;
    width: 300px;
}
a {
  color: #08C;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
p {
  margin: 10px 0;
}
h1 {
  font-size: 26px;
  font-weight: 600;
  font-family: ff-enzo-web;
  position: relative;
  margin-bottom: 10px;
}
h1 a {
  color: #222;
  text-decoration: underline;
}
h1 time {
  position: absolute;
  bottom: -14px;
  left: 6px;
  font-size: 14px;
}
#content ul {
  margin: 0 40px;
  list-style-type: circle;
}
img {
  max-width: 500px;
}
footer {
  display: block;
  padding: 0 10px 20px;
  margin: 20px auto 5px;
  color: #333;
  text-shadow: #fff 0 1px 1px;
  overflow: hidden;
  font-size: 15px;
  border-top: 1px solid #e5e5e5;
  font-weight: 200;
  background-color: whiteSmoke;
}
footer > .container {
  margin-top: 5px;
}
footer p {
  float: left;
  text-align: center;
}
footer ul {
  float: right;
}
footer ul li {
  float: left;
  list-style: none;
}
footer ul li:first-child {
  padding-right: 5px;
}
footer ul li span {
  display: inline-block;
  padding: 0 3px;
}
article {
  margin-bottom: 30px;
  border-top: 1px solid #f4f4f4;
  padding-top: 10px;
}
article:first-child {
    border-top: none;
    padding-top: 0;
}
article .content {
  padding: 6px 10px;
}

span.center {
  display: block;
  text-align: center;
  max-width: 
}

span.shadow {
  display: inline-block;
  padding: 8px;
}

span.shadow {
  border: 1px solid #efefef;
  position: relative;
  background: #ffffff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 60px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}

span.shadow:after { 
  z-index: -1; 
  position: absolute; 
  background: transparent; 
  width: 50%; 
  height: 50%; 
  content: ''; 
  right: 0; 
  bottom: 0;

  -webkit-transform-origin: right bottom;
  -moz-transform-origin: right bottom;

  -webkit-transform: skew(20deg) rotate(10deg);
  -moz-transform: skew(20deg) rotate(10deg);

  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
} 

span.shadow:before { 
  z-index: -1; 
  position: absolute; 
  background: transparent; 
  width: 50%; 
  height: 50%; 
  content: ''; 
  left: 0; 
  bottom: 0; 

  -webkit-transform-origin: left bottom;
  -moz-transform-origin: left bottom;

  -webkit-transform: skew(-20deg) rotate(-10deg);
  -moz-transform: skew(-20deg) rotate(-10deg);

  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.minibutton {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position: relative;
    text-decoration: none;
    display: inline-block;
    text-align: left;
    text-decoration: none;
    color: #666;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, whiteSmoke), color-stop(1, #F1F1F1));
    background: -webkit-linear-gradient(top, whiteSmoke 0%, #F1F1F1 100%);
    background: -moz-linear-gradient(top, whiteSmoke 0%, #F1F1F1 100%);
    background: linear-gradient(top, whiteSmoke 0%, #F1F1F1 100%);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid rgba(110, 110, 110, 0.40);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    font-family: helvetica, arial, freesans, clean, sans-serif;
    text-shadow: 1px 1px 0 white;
    white-space: nowrap;
    cursor: pointer;
}

.minibutton:hover {
    color: #000;
    border-color: rgba(50,50,50,0.60);
    -webkit-box-shadow: rgba(0,0,0,0.10) 0 1px 1px 0;
    -moz-box-shadow: rgba(0,0,0,0.10) 0 1px 1px 0;
    box-shadow: rgba(0,0,0,0.10) 0 1px 1px 0;
    text-decoration: none;
}

.minibutton > span {
    display: block;
}

.normal .minibutton {
    height: 22px;
    padding: 1px 7px 0;
}

.normal .minibutton > span {
    font-weight: 300;
    height: 22px;
    line-height: 22px;
    padding: 0 7px;
}

#sidebar {
    border-left: 1px solid #f1f1f1;
    padding: 10px 0 20px 20px;
}

#encounter {
    margin-bottom: 30px;
}

.tweet-box h3 {
    font-family: ff-enzo-web;
    font-weight: 600;
    color: #222;
    font-size: 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
#tweets div {
    border: 1px solid #ddd;
    border-left: 3px solid #D26911;
    padding: 3px 10px;
    background: #FAFAFA;
    border-radius: 2px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    margin: 10px 0;
}
#tweets div p {
    margin: 0;
}
#tweets div .meta {
    text-align: right;
    font-size: 14px;
}

.btn {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #BBB;
    border-bottom-color: #A8A8A8;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position: relative;
    text-decoration: none;
    display: inline-block;
    text-align: left;
    text-decoration: none;
    color: #666;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F8F8F8), color-stop(1, #DFDFDF));
    background: -webkit-linear-gradient(top, #F8F8F8 0%, #DFDFDF 100%);
    background: -moz-linear-gradient(top, #F8F8F8 0%, #DFDFDF 100%);
    background: -o-linear-gradient(top, #F8F8F8 0%, #DFDFDF 100%);
    background: -ms-linear-gradient(top, #F8F8F8 0%, #DFDFDF 100%);
    background: linear-gradient(top, #F8F8F8 0%, #DFDFDF 100%);
    font-family: helvetica,arial,freesans,clean,sans-serif;
    text-shadow: 1px 1px 0 white;
    white-space: nowrap;
    cursor: pointer;
}
.btn:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F3F3F3), color-stop(1, lightGrey));
    background: -webkit-linear-gradient(top, #F3F3F3 0%, lightGrey 100%);
    background: -moz-linear-gradient(top, #F3F3F3 0%, lightGrey 100%);
    background: -o-linear-gradient(top, #F3F3F3 0%, lightGrey 100%);
    background: -ms-linear-gradient(top, #F3F3F3 0%, lightGrey 100%);
    background: linear-gradient(top, #F3F3F3 0%, lightGrey 100%);
    text-decoration:none;
}
.btn > span {
    font-weight: 300;
    height: 22px;
    line-height: 22px;
    padding: 0 7px;
}
.btn-primary {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #19D), color-stop(1, #0E7AB1));
    background: -webkit-linear-gradient(top, #19D 0%, #0E7AB1 100%);
    background: -moz-linear-gradient(top, #19D 0%, #0E7AB1 100%);
    background: -o-linear-gradient(top, #19D 0%, #0E7AB1 100%);
    background: -ms-linear-gradient(top, #19D 0%, #0E7AB1 100%);
    background: linear-gradient(top, #19D 0%, #0E7AB1 100%);
    color: white;
    text-shadow: none;
}
.btn-primary:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1091D2), color-stop(1, #0C6B9B));
    background: -webkit-linear-gradient(top, #1091D2 0%, #0C6B9B 100%);
    background: -moz-linear-gradient(top, #1091D2 0%, #0C6B9B 100%);
    background: -o-linear-gradient(top, #1091D2 0%, #0C6B9B 100%);
    background: -ms-linear-gradient(top, #1091D2 0%, #0C6B9B 100%);
    background: linear-gradient(top, #1091D2 0%, #0C6B9B 100%);
}
.btn.btn-large {
    height: 26px;
    padding: 5px 9px 4px;
}
.btn.btn-large > span {
    font-weight: 600;
    font-family: ff-enzo-web;
    height: 26px;
    line-height: 26px;
    padding: 0 9px;
    font-size: 20px;
}
iframe {
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 20px 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

header .slug {
    font-family: ff-enzo-web;
    font-weight: 600;
    float: left;
    display: inline-block;
    font-size: 18px;
}
header .slug a {
    color: #222;
    font-size: 26px;
    padding-left: 10px;
}
