<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>

    <link href="http://blog.rmx.im/feed.atom" rel="alternate" title="blog.rmx.im" type="application/atom+xml" />
    <link rel="stylesheet" href="/assets/screen.css" type="text/css" />

    <script type="text/javascript" src="//use.typekit.net/qsl0kfq.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <script src="/assets/jquery-1.8.3.min.js"></script>
    <script src="/assets/jquery.tweet.js"></script>
    <script src="/assets/application.js"></script>
</head>
<body>

    <header>
        <div class="container">
            <div class="branding">
                <a href="/">
                    <img src="/assets/logo.png">
                </a>
            </div>

            <nav class="cl-effect-21">
                <div><a href="//encounter.io">Back to the Game</a></div>
            </nav>
        </div>
    </header>

    <main class="container">
        {{ content }}
    </main>

    {% include gauges.html %}
</body>
</html>
