<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>

   <link href="http://blog.rmx.im/feed.atom" rel="alternate" title='blog.rmx.im' type="application/atom+xml" />
   <link rel="stylesheet" href="/assets/screen.css" type="text/css" />
</head>
<body>

<div id="container">
  <header>
    <a href="/" class="logo"><span>blog.</span>rmx<span>.im</span></a>
  </header>

  <div id='content'>
    {{ content }}
  </div>

  <footer>
    <p>© rmx inc.</p>
  </footer>
</div>

{% include gauges.html %}
</body>
</html>
