<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>

   <link href="http://blog.rmx.im/feed.atom" rel="alternate" title='blog.rmx.im' type="application/atom+xml" />
   <link rel="stylesheet" href="/assets/screen.css" type="text/css" />

   <script type="text/javascript" src="//use.typekit.com/nli5ftd.js"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>

<header>
    <div class='container'>
        <a href="/" class="logo"><span>blog.</span>rmx<span>.im</span></a>
        <div class='divider-vertical'></div>

        <ul id="menu" class="normal">
            <li><a href="http://encounter.io" class="minibutton"><span>encounter.io</span></a></li>
        </ul>
    </div>
</header>

<div id="container">
  <div id='content'>
    {{ content }}
  </div>
</div>

<footer>
    <div class='container'>
        <span>© rmx inc. all rights reserved</span>
    </div>
</footer>

{% include gauges.html %}
</body>
</html>
